.c5 {
  text-align: center;
}
.s9 {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 820px;
  padding-left: 300px;
}
.d1 {
  text-align: center;
}
.con {
  background-color: rgb(242, 238, 238);
}
.v1 {
  text-align: center;
}
.vi {
  text-decoration: underline;
}
